body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carre1{
	width:200px;
	height:200px;
	background: blue;
}
.carre2{
	width:200px;
	height:200px;
	background: red;
}
.div1{
  width:200px;
	height:200px;
	background: blue;
}
.div2{
  width:200px;
	height:200px;
	background: red;
}